<div>
   {{>nav}}
<div class="row mx-auto ms-5">

    {{#each result}}
  <div class="card mx-3 mb-3 mt-3" style="width: 18rem">
    <div class="thumbnail p-2 g-col-6 mt-2">
        <p class=" fs-4 text-dark">Username <br> {{username}}</p>
        <p class="card-text text-dark"><strong>Email</strong> <br>{{email}}</p>
        <p class="card-text text-dark"><strong>Admin</strong> <br>{{isAdmin}}</p>

        <form action="/admin/{{_id}}/delete" method="POST" > 
  <button type="submit" class="btn btn-primary text-dark">Delete</button>
  </form>


        
    </div>
  </div>
   {{/each}}
</div>

