<div>
   {{>nav}}
<div class="row mx-auto ms-5">
  {{#each result}}
<div class="card mx-3 mb-3 mt-3" style="width: 18rem">
  <h5 class="card-title mt-2">{{title}}</h5>
  <img src="{{filepath}}" class="rounded float-start mt-3" alt="Lights">
  <div class="card-body">
    <p class="card-text"><strong>Description<br> </strong><br> {{description}}</p> 
    <br>
    <a class ="btn btn-primary" href="/deals/{{_id}}/details">Details</a>
  </div>
</div>
   {{/each}}
</div>






