
 <h1>iDeals 🚀</h1>
<p>Welcome to intelligent shopping!</p>

<a href="/auth/signup">SignUp</a>
<a href="/auth/login">Log in</a> 
<a href="/auth/logout">Log out</a>





<div class="row">
    {{#each result}}
  <div class="col-md-4 ">
    <div class="thumbnail bg-dark p-2 g-col-6 mt-2">
        <p class=" fs-4 text-white">{{title}}</p>
        <img src="{{filepath}}" alt="Lights" style="width:100%" />
    </div>
  </div>
   {{/each}}

