<h1>iDeals 🚀</h1>
<p>Welcome to intelligent shopping!</p>
<label><input type="checkbox" id="cbox1" value="first_checkbox"> Subscribe to the deals!</label><br> 
<a href="/auth/signup">SignUp</a>
<a href="/auth/login">Log in</a>
<a href="/auth/logout">Log out</a>
{{#if}}
<div hidden>
<form action="/send-email" method="POST">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>
</div>
{{/if}}