<div>
  
</div>
<h1>iDeals 🚀</h1>
<p>Welcome to intelligent shopping!</p>
<label><input type="checkbox" id="cbox1" value="first_checkbox"> Subscribe to the deals!</label><br> 
<a href="/auth/signup">SignUp</a>
<a href="/auth/login">Log in</a>
<a href="/auth/logout">Log out</a>
<a class="nav-link active" aria-current="page" href="/deals/home">Home</a>

<div hidden>
<form action="/send-email" method="POST">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form>
</div>


<div>
<form>
  <fieldset disabled>
    <legend>Disabled fieldset example</legend>
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label">Disabled input</label>
      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Disabled select menu</label>
      <select id="disabledSelect" class="form-select">
        <option>Disabled select</option>
      </select>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
        <label class="form-check-label" for="disabledFieldsetCheck">
          Can't check this
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

</div>