
<h1>iDeals 🚀</h1>
<p>Welcome to intelligent shopping!</p>

<a href="/auth/signup">SignUp</a>
<a href="/auth/login">Log in</a>
<a href="/auth/logout">Log out</a>
<a class="nav-link active" aria-current="page" href="/deals/home">Home</a>

