
{{>nav}}


<h1>Add your deal</h1>

<form action="/deals/add" method="POST" enctype="multipart/form-data" > 
  <fieldset >
    <div class="mb-3">
      <label for="dealTitle" class="form-label">Deal Name</label>
      <input type="text" id="disabledTextInput"  name="dealTitle" class="form-control" placeholder="Uber Eats">
    </div>
    <div class="mb-3">
      <label for="dealDescription" class="form-label">Description</label>
      <input type="text" id="disabledTextInput"  name="dealDescription" class="form-control" placeholder="Spend €15, pay €7!!!">
      
    </div>
     <div class="mb-3">
      <label for="dealLocation" class="form-label">Location</label>
      <input type="text" id="disabledTextInput"  name="dealLocation" class="form-control" placeholder="App Uber Eats">
    </div>
    <div>
         <label for="imagen">Upload your Image</label>
         <input type="file" name="imagen" id="imagen"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
   
  </fieldset>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

  
  

 

